#card{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

    .card-body{
        background-color: #F4F4F4;
        height: 300px;
        padding: 20px;
    }

    .card-body img{
        max-height: 200px;
    }



