#card{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

    .card-body{
        background-color: #F4F4F4;
        max-width: 400px;
        height: 220px;
        margin: 20px;
        padding: 20px;
        align-items: center;
        box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
    }

    .card-body img{
        max-height: 100px;
    }

    .card-body p{
        margin-top: 20px;
        font-size: 12px;
        text-align: center;
    }



