#productos-content {
    width: 70%;
    height: auto;
    margin: auto;
    margin-top: 10px;
    display: flex;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background-color: rgb(240, 232, 232);
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* card-producto: Contenedor de cada producto */
    #productos-content #card-producto{
        background-color: rgb(251, 252, 253);
        width: 200px;
        max-height: 400px;
        box-shadow: 1px 2px 4px 2px #cdcdf3;
        padding: 10px;
    }


/* NOMBRE DEL PRODUCTO */

    #productos-content h4 {
        font-family: "Karantina", system-ui;
        white-space: nowrap;
        font-size: 20px;
        text-align: center;
        overflow: hidden; /* Oculta el desbordamiento */
        text-overflow: ellipsis; /* Agrega puntos suspensivos */
    }


/*IMAGEN DEL PRODUCTO*/

    #productos-content #card-producto img{
        width: 100%;
        height: 200px;
        align-self: center;
    }

    
/* BOTON VER DETALLE */

    #productos-content .btn {
        margin-top: 10px;
        width: 100%;
        height: 40px;
        font-family: "Karantina", system-ui;
        font-size: 16px;
        background-color: #0f53ac;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }


/*Component: MODAL-PRODUCTO*/

    #modal-producto {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }




