footer{
    background-color: #0056D2;
    color: white;
    margin-top: 30px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .footer-bottom{
    text-align: center;
}