/*TITULO DE LA SECCIÓN*/

    h1{
        text-align: center;
        margin-top: 20px;
    }

#cat-completo-content {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
}



/* card-producto: Contenedor de cada producto */
    #cat-completo-content #card-producto{
        background-color: #ffffff;
        width: 250px;
        height: 400px;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        padding: 10px;
    }


/* NOMBRE DEL PRODUCTO */

    #cat-completo-content h4 {
        font-family: "Karantina", system-ui;
        white-space: nowrap;
        font-size: 20px;
        text-align: center;
        overflow: hidden; /* Oculta el desbordamiento */
        text-overflow: ellipsis; /* Agrega puntos suspensivos */
    }


/*IMAGEN DEL PRODUCTO*/

    #cat-completo-content #card-producto img{
        width: 100%;
        height: 300px;
        align-self: center;
    }


/*PRECIO DEL PRODUCTO*/

    #cat-completo-content h5 {
        text-align: center;
        align-self: center;
        font-weight: 100;
        font-size: 25px;
        color: #000000;
    }


/*PAGINATION*/

    .pagination {
        display: flex;
        justify-content: center;
        margin: 20px 0;
        gap: 6px;
    }

    .pagination button {
        padding: 6px 12px;
        border: 1px solid #ccc;
        background: white;
        cursor: pointer;
        border-radius: 5px;
    }

    .pagination button.active {
        background: #007bff;
        color: white;
        font-weight: bold;
    }

    .pagination button:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }



/*Component: MODAL-PRODUCTO*/

    /* #modal-producto {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }

 */





