#card-info{
    display: flex;
    width: 70%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 70px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    #card-info {
        flex-direction: column;
        align-items: center;
    }
}


/* INFO 1 */

    .card-body{
        background-color: rgb(240, 232, 232);
        width: 300px;
        height: auto;
        padding: 20px;
        align-items: center;
        border-radius: 10px;
    }

    .card-body img{
        max-height: 100px;
    }

    .card-body p{
        margin-top: 20px;
        font-size: 20px;
        text-align: center;
        color: rgb(18, 39, 39);
        font-family: "Karantina";
        font-weight: 100;
    }

    
/*INFO 2*/

    /*sin contenido*/



