Asegurar que el root y sus contenedores principales ocupen toda la altura
html, body, #root {
    margin: 0;    /* Eliminar márgenes */
    display: flex;
    flex-direction: column; /* Organización en columna */
}


