/* Asegurar que el root y sus contenedores principales ocupen toda la altura */
html, body, #root {
    height: 100%; /* La página ocupa toda la altura de la ventana */
    margin: 0;    /* Eliminar márgenes */
    display: flex;
    flex-direction: column; /* Organización en columna */
}

main {
    flex: 1; /* El contenido principal ocupa el espacio disponible */
    padding: 20px;
    box-sizing: border-box;
}

Footer{
    background-color: #4f51c4;
    font-family: "Karantina", system-ui;
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 8px 2px rgba(0, 0, 0, 0.1);
}

Footer .footer-bottom{
    text-align: center;
    font-family: 'Karantina';
    font-weight: 300;
    font-size: 28px;
}

