/*Asegurar que el root y sus contenedores principales ocupen toda la altura*/
html, body, #root {
    margin: 0;    /* Eliminar márgenes */
    padding: 0;   /* Eliminar relleno */
    height: 100%; /* Asegurar que ocupen toda la altura */
    display: flex;
    flex-direction: column; /* Organización en columna */
    background-color: whitesmoke;
    font-family: 'Karantina', sans-serif;
    margin-bottom: 0;
}


