#menu-content {
    background-color: #EBF7F9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; 
    top: 0; /* Arriba de la pantalla */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Por encima de otros elementos */
    box-sizing: border-box; /* Considera el padding en el ancho total */
    border: 2px solid black;
}

/* Ajustes automáticos para pantallas pequeñas */
  @media (max-width: 768px) {
    #menu-content {
        flex-direction: row; /* Cambia a formato vertical */
        padding: 1px;
    }

  }

/*LOGO BLANQUITA*/

  #menu-content img{
    width: 85px;
    height: 85px;
    object-fit: contain;
  }


/*NAVBAR*/

  nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  /*OPCIÓN INICIO*/

    /* nav #section-inicio{
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 20px;
      gap: 5px;
    }

    nav #section-inicio img{
      color: blue;
      width: 30px;
      height: 30px;
      align-self: center;
    }

    nav #section-inicio a{
      color: rgba(255, 255, 255, 0.747);
      text-align: center;
      text-decoration: none;
      font-family: 'Karantina';
      font-size: 28px;
    }

    nav #section-inicio a:hover{
      color: rgb(48, 189, 182);
    }

    nav #section-inicio a:active{
      color: rgb(48, 189, 182)
    } */

    /*OPCIÓN BUSCADOR*/

      nav #search-bar {
        display: flex;
        align-items: center;
      }

      nav #search-bar input {
        padding: 5px;
        border-radius: 5px;
        border: 1px solid #2c0b0b;
        width: 200px;
        font-size: 16px;
      }

      nav #search-bar button {
        padding: 5px 5px;
        background-color: #196685; /* Color del botón */
        cursor: pointer;
      }

      nav #search-bar button img {
        width: 20px; /* Ancho del icono de búsqueda */
        height: 20px; /* Alto del icono de búsqueda */
      }

      nav #search-bar button:hover {
        background-color: #2296c4; /* Color al pasar el mouse */
      }


  /*OPCIÓN CATÁLOGO*/

      nav #section-catalogo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 5px;
      }

      nav #section-catalogo img{
        color: blue;
        width: 30px;
        height: 30px;
        align-self: center;
      }

      nav #section-catalogo a{
        color: rgba(255, 255, 255, 0.747);;
        text-align: center;
        text-decoration: none;
        font-family: 'Karantina';
        font-size: 28px;
      }

      nav #section-catalogo a:hover{
        color: rgb(48, 189, 182)
      }

      nav #section-catalogo a:active{
        color: rgb(29, 74, 199)
      }


    /* Ajustes automáticos para pantallas pequeñas */
    @media (max-width: 768px) {

      nav {
          flex-direction: row; /* Menú en columna */
          gap: 15px;
      }

      nav #buscador {
          width: 100%; /* Barra de búsqueda ocupa todo el ancho */
      }
    }
  