#menu-content {
    background-color: #216ccf;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed; 
    top: 0; /* Arriba de la pantalla */
    width: 100%; /* Ocupa todo el ancho */
    z-index: 1000; /* Por encima de otros elementos */
    box-sizing: border-box; /* Considera el padding en el ancho total */
}

/* Ajustes automáticos para pantallas pequeñas */
  @media (max-width: 768px) {
    #menu-content {
        flex-direction: row; /* Cambia a formato vertical */
        padding: 1px;
    }

  }

/*LOGO BLANQUITA*/

  #menu-content img{
    width: 85px;
    height: 85px;
    object-fit: contain;
  }


/*NAVBAR*/

  nav{
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
  }

  
  /*OPCIÓN BUSCADOR*/

      nav #search-bar {
        display: flex;
        align-items: center;
        position: relative;
        gap: 0;
        width: 250px; /* Ancho del buscador */
      }

      nav #search-bar input {
        padding: 5px 10px;
        border-radius: 5px 0 0 5px;
        border: 1px solid #ccc;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
        width: 220px;
        font-size: 20px;
        font-weight: 300;
        outline: none;
        margin-right: 0;
      }

      nav #search-bar button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 10px;
        background-color: #0e4e68;
        border: none;
        border-radius: 5px 0 0 5px;
        cursor: pointer;
        width: 50px;
        height: 43px;
        transition: background 0.2s;
        position: absolute;
        right: 0;
        top: 0;
      }

      nav #search-bar button:active {
        background-color: #216ccf;
      }

      nav #search-bar button img {
        width: 20px; /* Ancho del icono de búsqueda */
        height: 20px; /* Alto del icono de búsqueda */
      }

      nav #search-bar button:hover {
        background-color: #2296c4; /* Color al pasar el mouse */
      }


  /*OPCIÓN CATÁLOGO*/

      nav #section-catalogo{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        gap: 5px;
      }

      nav #section-catalogo img{
        color: blue;
        width: 30px;
        height: 30px;
        align-self: center;
      }

      nav #section-catalogo a{
        color: rgba(255, 255, 255, 0.747);;
        text-align: center;
        text-decoration: none;
        font-family: 'Karantina';
        font-size: 28px;
      }

      nav #section-catalogo a:hover{
        color: rgb(48, 189, 182)
      }

      nav #section-catalogo a:active{
        color: rgb(29, 74, 199)
      }


    /* Ajustes automáticos para pantallas pequeñas */
    @media (max-width: 768px) {

      nav {
          flex-direction: row; /* Menú en columna */
          gap: 15px;
      }

      nav #buscador {
          width: 100%; /* Barra de búsqueda ocupa todo el ancho */
      }
    }
  