#productos-content {
    width: 100%;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas */
    gap: 20px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
#productos-content .card{
    background-color: aliceblue;
    width: 225px;
    height: 250px;
    text-align: center;
    border: 2px solid #0056D2;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

#productos-content .card-body{
    background-color: rgb(255, 255, 255);
}

#productos-content .card img{
    max-width: 100px;
    max-height: 400px;
    align-self: center;
}

#productos-content .card h6{
    font-size: 12px
}

.paginacion{
    width: 50%;
    margin: auto;
    text-align: center;
}