#productos-content {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6 columnas */
    gap: 10px;
    background-color: #f4f4f4;
    padding: 10px;
    box-shadow: 2px 8px 12px rgba(0, 0, 0, 0.1);
  }
  
#productos-content .card{
    background-color: aliceblue;
    width: 175px;
    height: 250px;
    text-align: center;
    box-shadow: 0 2px 8px #0056D2;
    margin: 10px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
}

#productos-content .card-body{
    background-color: rgb(255, 255, 255);
    width: 100px;
    align-self: center;
}

#productos-content .card img{
    max-width: 100px;
    max-height: 400px;
    align-self: center;
}

#productos-content .card h6{
    font-size: 10px
}

#productos-content .card .card-text{
    font-size: 15px
}


.paginacion{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}