#buscador{
    margin: auto;
    margin-top: 120px;
    width: 70%;
    font-family: 'Karantina';
    font-weight: 300;
    font-size: 30px;
    flex-wrap: wrap;
}

#buscador input{
    width: 50%;
    box-shadow: 1px 1px 1px 1px black;
}

@media (max-width: 768px) {

    #buscador{
        margin-top: 150px;
    }

    #buscador input{
        width: 100%;
    }
}



