#menu-content {
    background-color: #0056D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;     /* 🔒 Fija el menú */
    top: 0;              /* 🧭 Que quede arriba */
    width: 100%;         /* 🧱 Ocupar todo el ancho */
    z-index: 1000;       /* 🔝 Que esté por encima del resto */
    padding: 15px 30px;  /* 🧘 Agrega espacio interno */
  }
  

h1{
    color: white;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

li{
    list-style: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}