#menu-content{
    background-color: #0056D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h1{
    color: white;
}

ul{
    display: flex;
    justify-content: space-around;
    width: 600px;
}

li{
    list-style: none;
}

a{
    color: #FFFFFF;
    text-decoration: none;
}