
#root, .main-container { /* Ajusta el selector según tu estructura */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    background-color: #216ccf;
    margin-top: auto;
}

footer p {
    text-align: center;
    padding: 10px;
    font-size: 14px;
    color: #f3f7f8;
}