footer{
    background-color: #4f51c4;
    width: 100%;
    color: white;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 8px 2px rgba(0, 0, 0, 0.1);
}

footer .footer-bottom{
    text-align: center;
    font-family: 'Karantina';
    font-weight: 300;
    font-size: 28px;
}